select.form-control[
  name="invoice[shopping_list_id]"
  type="text"
  placeholder="== Choose One =="
  autocomplete="false"
  data-controller="select2"
]
  option
  - dropdown_list.each do |k,v|
    option[
      value="#{v}"
    ]
      = k